/* Bootstrap Custom Css Dosyası*/
body{
    background-color:forestgreen;
}

.h500{
    min-height: 500px; /* min-height: olduğunda ihtiyaca göre uzayacak kendiliğinden arka plan rengi*/
    background-color:navajowhite;
}

.p0{
    padding:0;
}

.column{
    background-color: navajowhite;
    color:deepskyblue;
    height: 150px;
}
.m0{
    margin: 0px;
}
.mavi{
    background-color: deepskyblue;
}
.kirmizi{
    background-color: orangered;
}

.turuncu{
    background-color: orange;
}