/* Bootstrap Custom Css Dosyası*/
body{
    background-color:forestgreen;
}

.h500{
    height: 500px;
    background-color: darkred;
}

.p0{
    padding:0;
}

.column{
    background-color: navajowhite;
    color:deepskyblue;
    height: 150px;
}
.m0{
    margin: 0px;
}